.search {
  &__search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    cursor: default;
    display: none;
  }
  &__search-overlay-show {
    display: block;
  }
  &__search-form {
    position: absolute;
    display: flex;
    align-items: center;
    width: 0px;
    right: 90px;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 99999999;
  }
  &__search-form-show {
    width: 800px;
    opacity: 1;
    right: 30px;
  }
  &__search-btn {
    position: absolute;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
    cursor: pointer;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__search-input {
    position: relative;
    padding: 11px 16px 11px 48px;
    width: 100%;
    border: 0.6px solid #d5d5d5;
    border-radius: 6px;
    outline: none;
    background: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    z-index: 9999999;
  }

  &__search-dropdown {
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    max-height: 700px;
    border: 1px solid #d5d5d5;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 99999;
    border-top: none;
    border-radius: 0 0 2px 2px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 2px;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #8d8d8d;
      border-radius: 20px;
    }
  }
  &__search-dropdown__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
    width: 100%;
  }
  &__search-dropdown__item {
    width: 100%;
  }
  &__search-dropdown__link {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    transition: all 0.5s ease;
    width: 100%;
    &:hover {
      background-color: #8d8d8d1a;
    }
  }
  &__search-dropdown__link {
    font-size: 14px;
  }
  &__search-dropdown__box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__arrow__btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f5f6fa;
    border: 0.6px solid #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    display: none;
  }
  &__search-input-show {
    border-radius: 6px 6px 0 0;
    border-bottom: none;
  }
  &__btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f5f6fa;
    border: 0.6px solid #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    display: none;
  }
  @media (max-width: 1110px) {
    &__search-form-show {
      width: 600px;
    }
  }
  @media (max-width: 1110px) {
    &__search-form-show {
      width: 500px;
    }
  }
  @media (max-width: 790px) {
    &__search-form-show {
      width: 400px;
    }
  }
  @media (max-width: 700px) {
    &__search-form {
      position: static;
      display: flex;
      align-items: center;
      width: 295px;
      opacity: 1;
    }
    &__search-form-show {
      width: 295px;
    }
  }
  @media (max-width: 340px) {
    &__search-form {
      position: static;
      display: flex;
      align-items: center;
      width: 265px;
    }
  }
}
